<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Account</title>
</head>
<body>
<h2>expireDate <span th:text="${expireDate}"></span></h2>
<h1>Your OTP code is: <span th:text="${otp}"></span></h1>
or
<h1>Click the link below to activate your account:</h1>
<a th:href="${link}">Activate your account</a>
</body>
</html>